<h1>Accessibility Example</h1>
<label>
  Enter an example progress value
  <input type="number" min="0" max="100"
      [value]="progress" (input)="setProgress($event)">
</label>

<!-- The user of the progressbar sets an aria-label to communicate what the progress means. -->
<app-example-progressbar [value]="progress" aria-label="Example of a progress bar">
</app-example-progressbar>



<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->